@model Covid.Infrastructure.ViewModel.Person.vmCovidPerson
@using Covid.Core.Enum
@{
    ViewBag.Title = "PersonSearch";
}



@section HomeDesign
   {
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a href="@Url.Action("DashBoard", "DashBoard")"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">
                Person Search
            </li>
        </ol>
    </nav>
}
<div class="row">
    <div class="col">
        <form>
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">View</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="">

                        <div class="row">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">Local Body</label>
                                    <select class="form-control" name="LocalBodyId" id="LBID">
                                        <option value="" disabled="" selected>Local Body</option>
                                        @if (Model.LocalBodyList.Count() != 0)
                                        {
                                            foreach (var i in Model.LocalBodyList)
                                            {
                                                if (@i.LocalBodyID == Model.PersonDetail.LocalBodyId)
                                                {
                                                    <option selected value="@i.LocalBodyID">@i.LocalBodyName</option>
                                                    continue;
                                                }
                                                <option value="@i.LocalBodyID">@i.LocalBodyName</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Zone</label>
                                    <select class="form-control" name="ZoneId" id="ZID">
                                        @if (Model.GetZoneList.Count() != 0)
                                        {
                                            foreach (var i in Model.GetZoneList)
                                            {
                                                if (@i.LocalBodyID == Model.PersonDetail.ZoneId)
                                                {
                                                    <option selected value="@i.LocalBodyID">@i.LocalBodyName</option>
                                                    continue;
                                                }
                                                <option value="@i.LocalBodyID">@i.LocalBodyName</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Ward</label>
                                    <select class="form-control" name="WardId" id="WID">
                                        @if (Model.GetWardList.Count() != 0)
                                        {
                                            foreach (var i in Model.GetWardList)
                                            {
                                                if (@i.LocalBodyID == Model.PersonDetail.WardId)
                                                {
                                                    <option selected value="@i.LocalBodyID">@i.LocalBodyName</option>
                                                    continue;
                                                }
                                                <option value="@i.LocalBodyID">@i.LocalBodyName</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Person Status</label>
                                    <select name="Quarantine" id="Quarantine" class="form-control View_Drop OverIew">
                                        <option value="">Please Select</option>
                                        <option value="-1">New</option>
                                        <option value="0">Home</option>
                                        <option value="1">Need Shift</option>
                                        <option value="2">Admitted</option>
                                        <option value="3">Death</option>
                                        <option value="4">Isolation Done</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Group</label>
                                    @*<input type='text' class="form-control" id='RelatedPersonID' />*@
                                    <select id="RelatedPersonID" class="form-control col-sm-8 View_Drop">
                                        <option value="" disabled="" selected>Please Select Group</option>
                                        @if (Model.GetRefGroupList != null || Model.GetRefGroupList.Count() > 0)
                                        {
                                            foreach (var i in Model.GetRefGroupList)
                                            {

                                                <option value="@i.RefGroup">@i.RefGroup</option>
                                            }

                                        }


                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-4">
                                    <button type="button" class="btn btn-success" id="BtnSaveDataUser" onclick="ChangeData1()">Submit</button>
                                </div>
                            </div>
                        </div>
                         

                          
                        </div>

                        <div id="DataView">
                            @Html.Partial("~/Views/Person/PartialViews/CovidPersonSearchPartial.cshtml", Model)
                        </div>
                    </div>
                </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    //$(function () {
    //    $('#datetimepicker4').datetimepicker();
    //});

    var ChangeData1 = function () {
        
        var LBID = $("#LBID").val();
        var ZID = $("#ZID").val();
        var WID = $("#WID").val();
        var Quarantine = $("#Quarantine").val();
        var RelatedPersonID = $("#RelatedPersonID").val();
        
        $.ajax({
            url: '/Person/GetCovidPersonDeailByFilter',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                LocalBodyID: LBID,
                ZoneID: ZID,
                WardID: WID,
                Quarantine: Quarantine,
                RelatedPersonID: RelatedPersonID
            }),
            success: function (data) {
               
                $("#DataView").html("");
                $("#DataView").append(data);
               
            },
            error: function () {

            },
        });
    }




</script>
<script>
     var localityUrl = '@Url.Action("FetchZone","Person")';
			var subLocalityUrl = '@Url.Action("FetchWard","Person")';
			var localities = $('#ZID');
    var subLocalities = $('#WID');
    $('#LBID').click(function () {
				localities.empty();
				subLocalities.empty();
				$.getJSON(localityUrl, { ID: $(this).val() },function(data) {
					if (!data) {
						return;
					}
					localities.append($('<option></option>').val('').text('Please select'));
					$.each(data, function(index, item) {
						localities.append($('<option></option>').val(item.Value).text(item.Text));
					});
				});
    })
    $('#ZID').click(function () {
				subLocalities.empty();
				$.getJSON(subLocalityUrl, { ID: $(this).val() },function(data) {
					if (!data) {
						return;
					}
					subLocalities.append($('<option></option>').val('').text('Please select'));
					$.each(data, function(index, item) {
						subLocalities.append($('<option></option>').val(item.Value).text(item.Text));
					});
				});
			})
</script>
